*{
    box-sizing: border-box;
    padding: 0;
    margin: o;
    background-color: black;
}
.flexs{
    
    color: aliceblue;
    font-family:'Courier New', monospace;
}
.flex{
    display:flex;
    justify-content:space-between;
    padding:1rem;
    padding-right: 10rem;
    padding-left: 3rem;
    align-items:center;
    color: aliceblue;
    font-family:'Courier New', monospace;
}
.b{
    display: flex;
    flex-direction: column;
   
}
.a{
    font-family: Copperplate, Papyrus, fantasy ;
    margin-top: -40px;
}
input{
    
    color: white;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    height: 29px;
    width: 160px;
    border: solid 1px white;
    border-top-left-radius: 6px;
    border-top-right-radius:6px ;
    border-bottom-right-radius:6px ;
    border-bottom-left-radius: 6px;
}
.head{
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 40px;
    font-weight:bold;
    color: white;
   
}
.heads{
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 40px;
    font-weight:bold;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}
.Card{
    margin:0px 0px 100px 140px;
    background-color: black;
    width: 270px;
    border-radius: 50px;
    box-shadow: 0px 13px 10px -7px;
    float: left;
  
}
.Card:hover{
    box-shadow: 0px 5px 5px 0px white;
    transform: scale(1.15,1.15);
}
.New{
    display: flex;
    flex-direction: row;
    margin:5rem;
    background-color: black;
    width: 270px;
    border-radius: 50px;
    box-shadow: 0px 13px 10px -7px;
    float: left;
  
}
.New:hover{
    box-shadow: 0px 5px 5px 0px white;
    transform: scale(1.25,1.25);
}
.Nets{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.Net{
    display: flex;
    flex-direction: row;
    margin:20px;
    background-color: black;
    width: 30px;
    border-radius: 50px;
    box-shadow: 0px 13px 10px -7px;
}
.Net:hover{
    box-shadow: 0px 0px 15px 0px white;
    transform: scale(1.25,1.25);
}
.card__img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.New__img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.Net__img{
    width: 60px;
    height: 70px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.info{
    background-color: black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px  ;
    background-color:white;
    margin: 0;
}
.ctg{
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    letter-spacing: opx;
    font-weight: 0;
    color:black;
    background-color: white;
    margin: 0;
    padding: 0;
   
}
.title{
    margin-top: 2px;
    margin-bottom: 5px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    text-transform: capitalize;
    font-size: 13px;
}
button{
    padding: 5px 8px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 13px;
    color: black;
    background-color: white;
    outline: none;
    border: 1px solid rgb(56, 31, 31);
    
}